<%= simple_form_for(@person, defaults: {error: false}) do |f| %>

  <div class="panel-body">
    <%= render "shared/error_message", model: @person %>

    <div class="row">
      <div class="col-sm-4 btn-lg-3">
        <%= f.input :identification_type %>
      </div>

      <div class="col-sm-4 btn-lg-3">
        <%= f.input :identification %>
      </div>

      <div class="col-sm-4 btn-lg-3">
        <%= f.input :name %>
      </div>

      <div class="col-sm-4 btn-lg-3">
        <%= f.input :last_name %>
      </div>

      <div class="col-sm-4 btn-lg-3">
        <%= f.input :gender %>
      </div>

      <div class="col-sm-4 btn-lg-3">
        <%= f.input :phone %>
      </div>

      <div class="col-sm-4 btn-lg-3">
        <%= f.input :address %>
      </div>

      <div class="col-sm-4 btn-lg-3">
        <%= f.association :city %>
      </div>
    </div>

  </div>

  <div class="panel-footer">
    <div class="btn-group btn-group-sm">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Back', people_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
