<div class="panel-default">
  <div class="panel-heading">
    <b>Listing people</b>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last name</th>
          <th>Identification</th>
          <th>Gender</th>
          <th>City</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.name %></td>
            <td><%= person.last_name %></td>
            <td><%= person.identification %></td>
            <td><%= person.gender %></td>
            <td><%= person.city %></td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to 'Show', person, class: 'btn btn-default' %>
                <%= link_to 'Edit', edit_person_path(person), class: 'btn btn-default' %>
                <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'btn btn-default' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'New Person', new_person_path, class: 'btn btn-primary btn-sm' %>
