<div class="panel panel-default">
  <div class="panel-heading">
    <b>Person Information</b>
  </div>

  <table class="table table-condensed table-bordered">
    <tr>
      <td>
        <b>Identification Type: </b><%= @person.identification_type.humanize %>
      </td>
      <td>
        <b>Identification: </b><%= @person.identification %>
      </td>
      <td>
        <b>Name: </b><%= @person.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Last name: </b><%= @person.last_name %>
      </td>
      <td>
        <b>Gender: </b><%= @person.gender %>
      </td>
      <td>
        <b>Phone: </b><%= @person.phone %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Address: </b><%= @person.address %>
      </td>
      <td>
        <b>City: </b><%= @person.city.city_region %>
      </td>
    </tr>
  </table>
</div>

<%= link_to 'Back', people_path, class: 'btn btn-default btn-sm' %>