<div class="panel-default">
  <div class="panel-heading">
    <b>Listing cities</b>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody>
        <% @cities.each do |city| %>
          <tr>
            <td><%= city.name %></td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to 'Edit', edit_region_city_path(@region, city), class: 'btn btn-default' %>
                <%= link_to 'Destroy', region_city_path(@region, city),
                  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="btn-group btn-group-sm">
  <%= link_to 'New City', new_region_city_path, class: 'btn btn-primary' %>
  <%= link_to 'Back', regions_path, class: 'btn btn-default' %>
</div>

